.payment_wrapper {
  width: 100%;
  height: 100vh;
  display: relative;
}

.payment_logout_wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
}

.payment_btn_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.payment_btn_wrapper button {
  min-width: 200px;
}

.payment_main_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.payment_wrapper .pop_up_wrapper {
  min-width: 400px;
}

